# jugador elegido
# Descomente su elección:
[CHARACTER]
type = CharacterType.ARCHER
#type = CharacterType.WARRIOR
#type = CharacterType.DEFENDER
#type = CharacterType.INFILTRATOR

# Cantidad de población inicial
[N]
n = 200

# Valor máximo para la suma de stats
[M]
m = 150

# Selecciono k individuos
[K]
k = 120

# Cantidad maxima de generaciones
max_generation = 1000

# Porcentaje elegido para el método 1.
[METHOD1PERCENTAGE]
percentage = 0.3

#podrian ser las siguientes secciones y valores

[metodo_seleccion]
metodo1 = roulette_wheel_selection
metodo2 = stochastic_tournament_selection

#lo seguiente seria los parametros para Boltzmann
[boltzmann]
T_0 = 20                               
T_offset = 0.5                        
deltaT = 0.015  

[metodo_cruza]
crossover = annular_crossover

[metodo_mutacion]
mutation = multi_gene_mutation
mutation_rate = 0.7

[metodo_reemplazo]
metodo1 = rank_based_selection
metodo2 = deterministic_tournament_selection