# jugador elegido
# Descomente su elección:
[CHARACTER]
#type = CharacterType.ARCHER
type = CharacterType.WARRIOR
#type = CharacterType.DEFENDER
#type = CharacterType.INFILTRATOR

# Cantidad de población inicial
[N]
n = 80

# Valor máximo para la suma de stats
[M]
m = 150

# Selecciono k individuos
[K]
k = 60

# Cantidad maxima de generaciones
# Tiene que ser > 1 ya que la población inicial se considera como la generación nº1
[GENERATIONS]
number = 200

# Porcentaje elegido para el método 1 de Seleccion.
[METHOD1PERCENTAGE]
percentage = 0.7


#podrian ser las siguientes secciones y valores elitist, roulette_wheel, boltzmann, universal_selection, deterministic_tournament, stochastic_tournament, rank_based
[SELECTION_METHOD]
method1 = 'elitist'
method2 = 'roulette_wheel'

# Boltzmann parameters
[BOLTZMANN]
t_0 = 50
t_c = 2
m = 0.02                               
t_offset = 0.9                        
delta_t = 0.015

#Parametros para deterministic_tournament_selection
[deterministic_tournament_selection]
tournament_size = 30  

#Parametros para stochastic_tournament_selection
[stochastic_tournament_selection]
threshold = 0.7  

# Métodos de cruza disponibles: 'one_point', 'two_point', 'uniform', 'annular'.
[metodo_cruza]
crossover = 'two_point'

[MUTATION]
# Métodos de mutación disponibles: 'one_gene', 'multi_gene', 'multi_gene_mutation_uniform'
mutation_type = 'one_gene'
mutation_rate = 0.3

# Porcentaje elegido para el método 1 de reemplazo.
[METHODRePERCENTAGE]
percentage = 0.4

[metodo_reemplazo]
metodo1 = 'elitist'
metodo2 = 'stochastic_tournament'

[CUT_CRITERIA]
# Métodos de corte disponibles: 'generations', 'structure'.
criteria_type = 'generations'

